.form-body {
  display: flex;
  gap: 30px;
}

.Header {
  margin-top: 52px;
}

.Header h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 59px;
  display: flex;
  align-items: center;
  color: #000000;
}

label,
span:not(.path span) {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 109%;
  /* or 15px */

  display: flex;
  align-items: center;

  color: #000000;
}

label {
  margin-top: 20px;
  margin-bottom: 5px;
}

select,
input[type="text"] {
  width: 375px;
  height: 48px;
  border: 1px solid #000000;
  outline: none;
}

input {
  height: 48px;
  border: 1px solid #000000;
  outline: none;
  padding-left: 5px;
}

input[type="number"] {
  height: 48px;
  width: 155px;
  margin-right: 15px;
}

.flex {
  display: flex;
}

button {
  background: #833AE0;
  color: white;
  height: 48px;
  width: 120px;
  border: none;
  margin-left: 30px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
}

.flex span {
  margin-right: 10px;
}

a {
  color: #000000;
}

.path {
  color: #B1ABAB;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 109%;
  align-items: center;
}

.path > span:first-child{
  text-decoration: underline;
}

.active{
  display: inline;
}

.passive{
  display: none;
}